body,html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: sans-serif;
	scroll-behavior: smooth;
}

.nav {
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #ff9000, orange);
	position: absolute;
	top: 0px;
	width: 100%;
}

.nav li {
	float: left;
	margin-right: 20px;
}

.nav li a {
	color: white;
	text-decoration: none;
	padding: 16px 8px;
	display: block;
	text-align: center;
}

.nav li:hover {
	background: #fcb355;
}

#main {
	background: url("photo.jpg");
	background-size: 110%;
	background-position: top;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

#main .text {
	height: 200px;
	margin-top: calc(20%);
	float: left;
	width: 30%;
	color: white;
}

.title {
	font-size: 35px;
}

.subtitle {
	font-style: 25px;
}

#features {
	height: 100%;
	padding: 50px 50px 50px 50px;
	background: #dbdbdb;
}

.fork {
	position: absolute;
	right: 0px;
	top: 0px;
}

.big {
	font-size: 25px;
}

#screenshots {
	float: right;
}
#textbox {
	float: left;
}

#download {
	height: 100px;
}